THIS_DIR="$(realpath `dirname ${BASH_SOURCE[0]}`)"
export PROJECT_ROOT=${THIS_DIR}
export SITE_ROOT=${PROJECT_ROOT}/dist
export RUST_OUT=${SITE_ROOT}/s
export RUST_ROOT=${PROJECT_ROOT}/rust
export PACKAGE_ROOT=${PROJECT_ROOT}/packages
